$color1:  greenyellow; 
$color2:rgb(47, 255, 154);
$color3: rgb(14, 191, 26);
$color4:rgb(23, 236, 62);
$color5:rgb(17, 212, 53);
$black: black;
$colorppagina: rgb(155, 246, 19);
$margentxt: 40px;
$AlialBold: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    font-size: large;
}

.color1{
    background-color: $color1; 
}

.color2{
    background-color: $color2;
    background-image: url(img/nettle-503939_1920.jpg);  
}

.color3{
    background-color: $color3;
    background-image: url(img/lavender-1595581_1920.jpg);
}

.color4{
    background-color: $color4;
    background-image: url(img/thyme-115349_1920.jpg);
}
.color5{
    background-color: $color5;
    background-image: url(img/jengibre-propiedades-1.webp);
}

.encabezado{
    background-size: cover;
    height: auto;
    width: 100%;
    border: 2px solid rgb(99, 138, 40);
    background-image: url(img/leaves-1498985_1920.jpg);
}


.encabezado__logo{
    height: 70px;
    width: 70px;
    background-size: contain;
    background-image:url(img/icono.png)
}

.encabezado__logo--width {
    width: 50%;
}



.centrado{
    text-align: center;
}

.fuente{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-shadow: $color2;
    text-shadow: aquamarine;
}


.fuente2{
    font-family:$AlialBold;
    font-size:  50px;
    color: $color3;
    text-shadow: -2px -2px 1px #075;
    margin: $margentxt; 
    text-align: center;
}

.colorsub{
    color:chartreuse; 
    font-size:  60px;
    font-family: $AlialBold;
    font-weight: 200;
    -webkit-text-decoration: dotted;
    text-decoration:dotted;
    text-shadow: -2px -2px 1px #000;
    margin: $margentxt;
}

.piepagina {                 
    width: 100%;
    background-color:$colorppagina;
    color: black;
    font-family: $AlialBold;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    }
    
    .piepagina_p{
    margin-bottom: 15;
    }
    .piepagina__i{
    color:black ;
    letter-spacing: 20px;
    font-size: 25px;
    }

    .social{
    width: 48px;
    position:fixed;
    top:50px;
    right:0;
    }


 /*  */